#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}









.prayer-card {
  cursor: pointer;
  border: none !important;
  margin-bottom: 0;
  padding: 30px !important;
  background: #009990 !important;
  color: rgb(247, 252, 252) !important;
}

.prayer-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.details-cover {
  padding-top: 0px;
  max-height: 0;
  position: realtive;
  top: 0;
  overflow: hidden;
  transition: 0.37s ease;

}

.details-cover.active {
  max-height: 500rem;
  background-color: rgb(247, 252, 252);
}


.light-brown {
  background: rgb(249, 233, 212);
  font-style: italic;
}









.navbar-brand {
  color: #009990 !important;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 !important;
  font-family: 'caveat';
  padding: 0 !important;
  /* border: 2px solid red; */
  position: relative;
  padding-top: 7px !important;
  padding-left: 6px !important;
}


@font-face {
  font-family: 'caveat';
  src: url('./assets/caveat.ttf');
}

.brand-1 {
  font-size: 28px;
  position: relative;
  z-index: 4;
  top: 7px;
  left: 0px;
  transition: 0.31s ease;
}

h2 {
  font-size: 32px !important;
}

.brand-2 {
  z-index: 3;
  position: absolute;
  right: -15px;
  top: 19px;
  font-size: 20px;
  color: #b6d795;
  transition: 0.31s ease;
}

.content {
  /* height: 100rem; */
  /* background: rgb(242, 251, 251); */
  margin-top: 73px;
  position: relative;
  z-index: 99;
  background: white;
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  text-align: start;
}

/* .navbar-brand.scrolled .brand-1 {
  font-size: 20px;
}

.navbar-brand.scrolled .brand-2 {
  font-size: 13px;
  right: -7px;
  top: 14px;
} */